// Custom styles.


body {
  position: relative;
  font-family: "Palatino Linotype", "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  padding: 2% 5% 5% 5%;
  color: #666;
  margin: 5% 10% 5% 10%;
  background: #fff;
}
h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  font-size: 26px;
}
h2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-bottom: 60px;
  margin-bottom: 40px;
  padding: 5px;
  border-bottom: 2px LightGrey solid;
  width: 90%;
  line-height: 150%;
  font-size: 25px;
  color: #666;
}
h3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px LightGrey solid;
  width: 80%;
  line-height: 150%;
  color: #666;
  font-size: 24px;
}
h4 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 22px;
  width: 80%;
  line-height: 150%;
  color: #666;
}
h5 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 80%;
  line-height: 150%;
  font-size: 20px;
  color: #666;
}
article p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  margin-top: 30px;
  width: 100%;
  line-height: 150%;
  color: #000;
}
.post-body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  color: #000;
  width: 100%;
}
p {
  text-indent: 2em;
}
code {
  font-family: "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace;
  padding: 0.5em;
  line-height: 200%;
}
.posts-expand .post-body ul li {
  list-style: disc;
}
.posts-expand .post-body img {
  border: none;
  padding: 0px;
}
